.wrapperCounterSet {
    border: 1px solid lightblue;
    border-radius: 30px;
    padding: 30px;
}

.wrapperCounterSet input {
    margin-bottom: 10px;
}

.wrapperCounterSetInput{
    display: flex;
    flex-direction: column;
    color: white;
}

.incorrectValue {
    border: 1px solid red;
    background: lightcoral;
}

.wrapperCounterSet input:active, input:focus{
    outline: none;
}

